body{font-family: 'Special Elite', cursive;
background-color:rgb(255, 136, 0);
}
.header{
    background-color: cornsilk;
    color: darkblue;
}
.header img{
width: 100px;
}
.webcam{
    background-color:darkgray ;
    padding: 10px;
    margin-top: 15px;
    border: 3px double rgb(130, 255, 80);
    } 
    #camera{
        width: 300px;
        height: 310px; 
        border: 3px solid powderblue;
        border-radius: 15px;
    }
    .webcam label{
        background-color: white; 
        width: 300px;
        padding:10px;
        box-shadow: 5px 5px 18px crimson;
    }
  
   